

<h1>Listing Meetings</h1>

<div class="pull-right">
<%= link_to 'New Meeting', new_meeting_path, class: "btn btn-info" %>
</div>
<br/>
<div>
  <%= month_calendar events: @meetings do |date, meetings| %>
    <%= date %>
    <div>
      <% meetings.each do |meeting| %>
        <div class="label label-info">
          <%= link_to meeting.topic, meeting %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
