

<h1>Listing Tasks</h1>

<div class="pull-right">
<%= link_to 'New Task', new_task_path, class: "btn btn-info" %>
</div>
<br/>
<div>
  <%= month_calendar events: @tasks do |date, tasks| %>
    <%= date %>
    <div>
      <% tasks.each do |task| %>
        <div class="label <% if task.due_date.to_date >= Date.today %> label-warning <% else %> label-danger <% end %>">
          <%= link_to task.name, task %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
